smart plug - noed red/node-red.json
[
    {
        "id": "02affaa99bacd7e0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88b76bf8aafd4324",
        "type": "ui_button",
        "z": "02affaa99bacd7e0",
        "name": "",
        "group": "d623e71e198eb1bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "blue",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "9bd49eaa6dc28baa",
                "4e541f5b5a05c383"
            ]
        ]
    },
    {
        "id": "26cc6ea908fdb4c0",
        "type": "ui_button",
        "z": "02affaa99bacd7e0",
        "name": "",
        "group": "d623e71e198eb1bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "9bd49eaa6dc28baa",
                "4e541f5b5a05c383"
            ]
        ]
    },
    {
        "id": "9bd49eaa6dc28baa",
        "type": "mqtt out",
        "z": "02affaa99bacd7e0",
        "name": "",
        "topic": "/ThinkIOT/Subscribe",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32710ce588d5edde",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e541f5b5a05c383",
        "type": "ui_led",
        "z": "02affaa99bacd7e0",
        "order": 2,
        "group": "d623e71e198eb1bb",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "d623e71e198eb1bb",
        "type": "ui_group",
        "name": "Default",
        "tab": "78e61929e67ca6df",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32710ce588d5edde",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "78e61929e67ca6df",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]